/* ------ Global settings ------ */
@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  /* outline: 1px solid pink; */
}

body{
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #000;
  display: inline-block;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.wrap{
  max-width: 1024px;
  margin: 0 auto;
}

.topbar, .header, .content{
  padding: 0 42px;
}

.header, .content{
  margin-bottom: 60px;
}

/* ------ topbar ------ */
.topbar {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar > h1 > a {
  background: url(https://upload.cc/i1/2021/01/04/kIGOHJ.png) no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 205px;
  height: 40px;
  vertical-align: middle;
}

.topbar > .menu {
  display: flex;
  align-items: center;
}

.menu > li > a {
  padding: 10px 30px;
  color: #3F5D45;
  font-size: 16px;
}

.menu > li > a:hover {
  color: #68886f;
}

.menu > .cart {
  margin-left: 20px;
}

/* ------ header ------ */
.header{
  width: 100%;
  height: 496px;
  background: url(../img/banner.png) no-repeat;
  background-position: center;
}

/* ------ content ----- */
.content {
  display: flex;
  justify-content: space-between;
}

/* -- sortSection -- */
.sortSection {
  font-size: 24px;
  font-weight: 500;
  min-width: 300px;
  text-align: center;
  line-height: 1.5;
}

.sortSection > h2, .sortList > li > a {
  padding: 16px 0;
}

.sortSection > h2 {
  background-color: #3F5D45;
  color: #EAF0ED;
}

.sortList > li {
  border-right: 1px solid #EAF0ED;
  border-left: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
}

.sortList > li > a {
  display: block;
  color: #3F5D45;
}

.sortList > li > a:hover{
  background-color: #EAF0ED;
}

/* -- products -- */
.products {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prodList > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.prodCard {
  width: 300px;
  margin: 0 0 20px 20px;
  position: relative;
  text-align: center;
}

.prodCard > .featured, .prodCard > .addFavortire {
  position: absolute;
}

.prodCard > .featured {
  background-color: #3F5D45;
  width: 36px;
  padding: 10px;
  text-align: center;
  color: #fff;
  top: 0;
  left: 20px;
}

.prodCard > .featured > span {
  writing-mode: vertical-lr;
  letter-spacing: 0.2em;
}

.prodCard > .addFavortire {
  top: 20px;
  right: 20px;
}

.prodCard > .prodInfo {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: #3F5D45;
}

.prodCard .prodName {
  padding: 14px 33px;
  flex: 1;
  border-left: 1px solid #EAF0ED;
  border-right: 1px solid #EAF0ED;
}

.prodCard .prodAmount {
  flex: 1;
  border-right: 1px solid #EAF0ED;
}

.prodCard .addCart {
  display: block;
  padding: 16px 0;
  font-size: 24px;
  font-weight: 700;
  color: #3F5D45;
  background-color: #EAF0ED;
}

.prodCard .addCart:hover {
  color: #fff;
  background-color: #3F5D45;
}

/* -- products -- */
.pageSelect {
  display: flex;
  align-items: center;
}

.pageSelect li a {
  text-align: center;
  width: 100%;
  line-height: 60px;
}

.pageSelect li:not([class="pageNumberList"]) {
  width: 60px;
  /* height: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAF0ED;
}

/* .pageSelect li:not([class="pageNumberList"]):hover{
  background-color: #3F5D45;
  color: #EAF0ED;
} */

.pageSelect > .pageNumberList > ul {
  display: flex;
}

.pageNumberList a {
  text-align: center;
  color: #3F5D45;
}

.pageNumberList a:hover {
  color: #fff;
  background-color: #3F5D45;
}

/* ------ subscribe ----- */
.subscribe {
  padding: 30px 122px;
  background-color: #3F5D45;
  display: flex;
  justify-content: space-between;
}

/* -- subscribeTitle -- */
.subscribeTitle {
  display: flex;
  align-items: center;
}

.subscribeLogo {
  width: 40px;
  margin-right: 20px;
}

.subscribeTitle span {
  font-size: 24px;
  color: #EAF0ED;
}

/* -- subscribeInput -- */
.subscribeInput {
  position: relative;
  font-size: 0;
  width: 380px;
}

.subscribeInput > .mailIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.subscribeInput > .mailInput {
  width: 100%;
  padding: 16px 16px 16px 60px;
  font-size: 20px;
  border: 2px solid #fff
}

.subscribeInput > .mailInput:focus {
  outline: none;
}

.subscribeInput > .sendSubscribe {
  display: inline-block;
  width: 64px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #FFE180;
  border: none;
  cursor: pointer;
  padding: 0;
}

.subscribeInput > .sendSubscribe:hover{
  background-color: #ffe797;
}

/* ------ footer ----- */
.footer {
  padding: 30px 122px;
  background-color: #EAF0ED;
}

/* -- footerInfo -- */
.footer > .footerContent {
  display: flex;
  justify-content: space-between;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftInfo > .contact {
  display: flex;
  flex-direction: column;
}

.leftInfo > .contact > a, .leftInfo > .contact > span {
  color: #3F5D45;
  line-height: 1.5;
}

.leftInfo > .contact > a:hover {
  color: #68886f;
}

.footerContent > .rightInfo > p {
  writing-mode: vertical-rl;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: .2em;
  color: #3F5D45;
}

/* -- bottomInfo -- */
.bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
}

.bottomInfo > .mediaLink {
  display: flex;
}

.bottomInfo > .mediaLink > li {
  margin-right: 8px;
}

.bottomInfo > .copyright {
  color: #3F5D45;
}